*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contain{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* #region UTILITIS */
.d-flex{
 display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.item{
    align-items: center;
}

/* #endregion UTILITIS */

li{
    background-color: rgb(0, 140, 255);
    height: 100px;
    width: 100px;
    margin: 5px;
}

ul{
    list-style: none;
    text-align: center;
    line-height: 100px;
}